.banner {
	position: relative;
	overflow-x: hidden;

	.content {
		position: absolute;
		z-index: 99;
		top: 50%;
		left: 0;
		padding-left: 15px;
		color: #fff;
	}
}

.about {
	padding: 200px 0 100px;

	h2 {
		color: #000;
		font-weight: 900;
		letter-spacing: 1px;
		padding-bottom: 10px;
		margin-bottom: 30px;
	}

	.more {
		border: 1px solid #66cc00;
		padding: 5px 15px;
		color: #000;
		transition: all .4s;

		&:hover {
			background-color: #66cc00;
		}
	}
}

.img-outer {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		display: block;
		width: 40px;
	}
}
.our-platfrom {
	padding: 100px 0;
	h5 {
		font-weight: 600;
	}
	a {
		padding: 7px 20px;
		border: 1px solid #66cc00;
		margin-bottom: 10px;
		color: #000;
		transition: all .3s;

		&:hover {
			background-color: #66cc00;
		}
	}
}

.first {
	.img-outer {
		background-color: #00c2b2;
	}
	.started {
		color: #00c2b2;
		border-color: #00c2b2;
	}
}

.second {
	.img-outer {
		background-color: #01a1df;
	}
	.started {
		color: #01a1df;
		border-color: #01a1df;
	}
}

.thired {
	.img-outer {
		background-color: #75b831;
	}
	.started {
		color: #75b831;
		border-color: #75b831;
	}
}
.blog {
	padding: 50px 0;

	h2 {
		span {
			color: #000;
			font-weight: 900;
			position: relative;
			letter-spacing: 1px;
			padding-bottom: 10px;
			margin-bottom: 30px;
		}
	}

	.card {
		transition: all .3s;
		&:hover {
			box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
			// transform: scale(1.05);
		}

		@include medium-screen {
			margin-bottom: 30px;
		}
	}
}

.video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-sizing: content-box;
	display: block;
	width: 32px;
	height: 44px;
	border-radius: 50%;
	padding: 18px 20px 18px 28px;
}

.video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #ba1f24;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #fa183d;
	border-radius: 50%;
	transition: all 200ms;
}

.video-play-button:hover:after {
	background-color: darken(#fa183d, 10%);
}

.video-play-button img {
	position: relative;
	z-index: 3;
	max-width: 100%;
	width: auto;
	height: auto;
}

.video-play-button span {
	display: block;
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	border-left: 32px solid #fff;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

.about-video {
	height: 400px;
}
